.gitattributes text
.gitignore text
*.md text
*.psd -text
*.fbx -text
*.png -text
*.sbsar -text
*.sbs text eol=crlf

# LFS files
RockyGround/Export/MaterialLayers.psd filter=lfs diff=lfs merge=lfs -text
