# Ignore Substance Designer Auto-save directories
*/.autosave

# Ignore Substance Painter Auto-save files
**/*_autosave_*.spp

# Blender Auto-save files
**/*.blend1

*.sbs text eol=lf

# Assets downloaded from releases to avoid using LFS
RockWall/Export/MaterialLayers.psd
RockWall/Export/RockWall.blend
RockWall/Export/RockWall.spp
